.search-container {
	background-color: #f5f5f5;
	border-radius: 12px;
	margin: 8px auto;
    width: calc(100vw - 64px);
}

.search-bar {
	text-align: center;
	padding: 16px;
}

.search-bar-input {
	padding: 8px 16px;
	border: 3px solid #000; /* abb6c7 */
	border-radius: 24px;
	font-size: 1.125em;
	width: 50%;
	background-color: #f0f0f0;
}

.search-bar-input::placeholder {
	font-style: italic;
}

.content {
    display: grid;
    width: 60%;
    margin: 24px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
	min-height: 450px;
}

.book {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 3px 4px 0 rgba(0 0 0 / 0.4);
	display: flex;
	flex-direction: column;
	gap: 6px;
	grid-column: span 1;
}

.book-title {
	text-transform: capitalize;
}

.book-category {
	font-size: 1.125em;
	text-transform: capitalize;
}

.book-link {
    text-decoration: none;
	text-transform: uppercase;
	font-size: 1.125em;
	color: #00c800;
}

#nacho {
	display: none;
	width: 100%;
	grid-column: span 3;
}

#empty-search {
	display: none;
	flex-direction: column;
	gap: 6px;
	color: #f5f5f5;
	text-align: center;
	font-size: 1.4em;
	grid-column: span 3;
}
